.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.jFanTw {
  max-width: 100% !important;
  max-width: -webkit-fill-available !important;
  min-width: -webkit-fill-available !important;
  min-width: 100% !important;
  min-width: stretch !important;
}

.kdsIVG {
  color: #ffffffcf;
}

.sc-kDTinF sc-ksdxgE {
  font-size: medium!important;
}

.iqUTNK {
  color: #ffffffcf;
  font-size: 14px!important;
}

.bbaILr {
  color: #626262;
  border: none!important;
}

.fhekZh {
  border-color: #3a4e5a!important;
}

.jUxMSn {
  color: #959595eb !important;
  font-size: 16px!important;
}

.sc-kDTinF {
  font-size: larger!important;
}

.kBFNfs {
  padding-top: 6px!important;
  height: 25px!important;
}

.cOPwn {
  padding-top: 6px!important;
  height: 25px!important;
}

.kBFNfs:focus {
  background-color: #282d35!important;
}

.jJzXEf {
  border-top: none !important;
}

.jtHJpH {
  font-size: 80% !important;
  font-weight: bold !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
